*.class
*.log
.DS_Store
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
sbt/sbt-launch*.jar
cassandra-server/*
metastore_db

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.idea_modules

checkpoint
