language: scala
jdk: oraclejdk7
sudo: false
scala:
  - 2.10.4
script:
  - "sbt ++$TRAVIS_SCALA_VERSION test:compile"
  - "sbt ++$TRAVIS_SCALA_VERSION it:compile"
  - "sbt ++$TRAVIS_SCALA_VERSION test"

