language: scala
jdk:
  - oraclejdk8

sudo: required

dist: trusty
scala:
  - 2.11.8

env:
 - CASSANDRA_VERSION=2.1.15
 - CASSANDRA_VERSION=3.6

script:
  - "sbt ++$TRAVIS_SCALA_VERSION -Dtest.cassandra.version=$CASSANDRA_VERSION -Dtravis=true -Dtravis=true it:test"  #Integration Suite
  - "sbt ++$TRAVIS_SCALA_VERSION -Dtest.cassandra.version=$CASSANDRA_VERSION -Dtravis=true -Dtravis=true assembly" #Test Suite and Assembly Test
