<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{{or site.url (or siteRootUrl siteRootPath)}}}"><img src="{{uiRootPath}}/img/logo-white.svg" style="height:40px" /></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{siteRootUrl}}">Spark Cassandra Connector</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">API docs</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://datastax.github.io/spark-cassandra-connector/ApiDocs/2.5.0/#package">2.5.0</a>
            <a class="navbar-item" href="http://datastax.github.io/spark-cassandra-connector/ApiDocs/2.4.2/spark-cassandra-connector/">2.4.2</a>
            <a class="navbar-item" href="http://datastax.github.io/spark-cassandra-connector/ApiDocs/2.3.2/spark-cassandra-connector/">2.3.2</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://datastax-oss.atlassian.net/browse/SPARKC/">JIRA</a>
            <a class="navbar-item" href="https://github.com/DataStax-Examples/spark-build-examples">Build file examples</a>
            <a class="navbar-item" href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/spark-connector-user">Mailing list</a>
            <a class="navbar-item" href="https://community.datastax.com/index.html">Ask a question</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/datastax/spark-cassandra-connector">GitHub</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
